<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <form action="/user/sendapp/team_id={{team_id}}&contest_id={{contest_id}}&user_id={{user_id}}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Apply Now!">
    </form>

    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>