<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href= "/static/css/all.css">
        <script src="/static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form method="post" action="{% url 'user:user_login' %}" class="box"/>
                            <h1>Login</h1>
                            <p> Please enter your username and password!</p>
                            <p>{{msg}}</p>
                            <!--input username and password via keyboard-->                            
                            <input id="username" type="text" name="username" placeholder="my name is xxx">
                            <input id="password" type="password" name="password" placeholder="Password">
                            <a class="forgot" href="{% url 'user:findpassword' %}">Forgot password?</a>
                            <a class="forgot" href="/user/regis/">Register Here!</a>
                            <!--input should be click on the button-->
                            <input type="submit" name="" value="Login">
                            <div class="col-md-12">
                                <ul class="social-network social-circle">
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

    </body>
</html>
