<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register Page</title>
        <link rel="stylesheet" href="/static/css/register.css">
        <link href="/static/css/mdi/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="/static/css/fas/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/static/css/googlefont.css" rel="stylesheet">
        <link href="/static/css/select2.min.css" rel="stylesheet" media="all">
        <link href="/static/css/daterangepicker.css" rel="stylesheet" media="all">
    </head>
    <body>
        <div class="bg-green p-t-40 p-b-40 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Registration Form</h2>
                        <form method="POST" action="{% url 'user:registration' %}">
                            {% csrf_token %}
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Username</label>
                                        <!--input first name here-->
                                        <fieldset>
                                            <div>{{form.username}}</div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Email</label>
                                        <!--input email here-->
                                        <fieldset>
                                            <div>{{form.email}}</div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Gender</label>
                                        <!--input sex here-->
                                            <fieldset>
                                                <div class="rs-select2 js-select-simple select--no-search">
                                                    {{form.sex}}
                                                    <div class="select-dropdown"></div>
                                                </div>
                                            </fieldset>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Major</label>
                                        <fieldset>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                {{form.major}}
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Graduate Date</label>
                                        <!--input Graduate date here-->
                                        <fieldset>
                                            <div>{{form.graduationtime}}</div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Motto</label>
                                        <!--input motto here-->
                                        <fieldset>
                                            <div>{{form.motto}}</div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Password</label>
                                        <!--input password here-->
                                        <fieldset>
                                            <div>{{form.password}}</div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Confirm Password</label>
                                        <!--input password here-->
                                        <fieldset>
                                            <div>{{form.password_confirm}}</div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <label class="label">verification code</label>
                                    <fieldset>
                                            <div>{{form.captcha}}</div>
                                    </fieldset>
                            </div>
                            <div class="p-t-0 inputbtn" align="center" width="80%">
                                <!--input click on submit button here--><div class="col-2"></div>
                                <input type="submit" value="Submit" href="#">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/select2.min.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/daterangepicker.js"></script>
        <script src="/static/js/global.js"></script>
    </body>
</html>